---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    <span>Posted in:
      {% for tag in post.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name | replace: '-', " " }}</nobr></code>&nbsp;</a>
      {% endfor %}
    </span>  
    <div id="post-content">
      {% if post.crosspost %}
  <div class="post_crosspost">
      {% if post.crosspost.size == 1 %}
      Crossposted to <a href="{{ post.crosspost[0].url }}">{{ post.crosspost[0].title }}</a>.
      {% else %}
    {% capture crosspostings %}
    {% for target in post.crosspost %}
    <a href="{{ target.url }}">{{ target.title }}</a>,
    {% endfor %}
    {% endcapture %}
    {% assign crosspostarray = crosspostings | strip | split: "," %}
    Crossposted to {{ crosspostarray | array_to_sentence_string }}.
    {% endif %}
    <br><br>
  </div>
  {% endif %}
    {{ post.content }}
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
