body {
 font-family:georgia; color:black; background: #F2F2F2; width:700px; margin: 20px auto; text-align: justify;
}

h4{
	text-align: center;
}

a {color: #0000FF}

.content {
	background:#CFCFCF;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	padding: 15px;
}

#picture {
	float:left;
}

#menu{
	float:left;
}

span.bibbase_paper_content image {
	display: none !important;
}