{% capture date %}{{ post.date }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
	{% assign year = this_year %}
	{% unless forloop.first %}
		</section>
	{% endunless %}
	<section class="archives"><h2 class="year">{{ date | date: "%Y" }}</h2>
{% endunless %}
<article>
	<h3 class="title">		<span class="date">{{ date | date: "%b %d" }}</span> |
		<a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h3>
	<!-- <div class="meta">
		<span class="tags">{% include categories.html %}</span>
	</div> -->
	<div class="divider"/>

</article>
