{% capture temptotal %}
{% for tag in site.tags %}
{{ tag[1].size }}
{% endfor %}
{% endcapture %}

{% assign the_things = temptotal | split: ' ' %}

{% capture tagtotal %}
{% assign temptotal = 0 %}
  {% for tag in the_things %}
    {% assign temptotal = temptotal | plus: tag%}
  {% endfor %}
{{ temptotal }}
{% endcapture %}

{% capture temptags %}
  {% for tag in site.tags %}
  {% assign floattotal = temptotal | times: 1.0 %}
    {{ tag[1].size | times: 225 | divided_by: floattotal | at_least: 14 | at_most: 100 }}#{{ tag[0] }}
  {% endfor %}
{% endcapture %}

{% assign sortedtemptags = temptags | split:' ' %}
{%- for temptag in sortedtemptags -%}
  {% assign tagitems = temptag | split: '#' %}
  {%- capture tagsize -%}{{ tagitems[0] }} {%- endcapture -%}
  {%- capture tagname -%}{{ tagitems[1] | replace: '-', " " }}{%- endcapture -%}
  <a href="/tag/{{ tagitems[1] }}"><code class="highligher-rouge" style="font-size:{{ tagsize }}px;"><nobr>{{ tagname }}</nobr></code></a>
{% endfor %}

