---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>

  <span>Posted in:
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name | replace: '-', " " }}</nobr></code>&nbsp;</a>
    {% endfor %}
  </span>

  <div id="post-content">
  {% if page.crosspost %}
  <div class="post_crosspost">
      {% if page.crosspost.size == 1 %}
      Crossposted to <a href="{{ page.crosspost[0].url }}">{{ page.crosspost[0].title }}</a>.
      {% else %}
    {% capture crosspostings %}
    {% for target in page.crosspost %}
    <a href="{{ target.url }}">{{ target.title }}</a>,
    {% endfor %}
    {% endcapture %}
    {% assign crosspostarray = crosspostings | strip | split: "," %}
    Crossposted to {{ crosspostarray | array_to_sentence_string }}.
    {% endif %}
    <br><br>
  </div>
  {% endif %}

  {{ content }}
  </div>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
